<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora|Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src=./public/js/public.js></script>

  </head>
  <body class="contact">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="heading">Donna, Counselor Extrodinaire</a>
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="offered-services">Services Offered</a></li>
          <li><a class="dropdown-button" data-activates="dropdown1">About Donna</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="offered-services">Services Offered</a></li>
          <li><a href="about_us">About Us</a></li>
          <li><a href="testimonials">Client Testimonials</a></li>
          <li><a href="contact">Contact Donna</a></li>
        </ul>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="about_us">About Donna</a></li>
          <li><a href="testimonials">Client Testimonials</a></li>
          <li><a href="contact">Contact Donna</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="container center-align sign-up">
        <br />
        <!-- <a class="waves-effect accent-2 modal-trigger contact_us hoverable" href="#modal1"><button class="contact-galli">Contact Us For A Free Consultation!</button></a> -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <form method="POST" action="send">
              <label>Subject</label>
              <input type="text" name="subject" required/>
              <br />
              <label>Name</label>
              <input type="text" name="name" required/>
              <br />
              <label>Company Name</label>
              <input type="text" name="company_name" required/>
              <br />
              <label>Email</label>
              <input type="email" name="email" required/>
              <br />
              <label>Phone Number</label>
              <input type="text" name="phone_number" required/>
              <br />
              <label>Message:</label>
              <br />
              <textarea placeholder="Please begin typing" name="message" maxlength=1000 rows=10 cols=50></textarea>
              <div class="modal-footer">
                <button class="center-align" type="submit"><a class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a></button>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="container information">
          <div class="contact-page">
            <ul class="contact-info">
              <li><h4 class="info">Contact Us</h4></li>
            </ul>
        </div>
        </div>
      </div>
      <br />
      <footer>
        <span>
          <p>Donna, Counselor Extrodinaire. &copy All Rights Reserved</p>
          <a class="facebook" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
          <a class="linkedin" href=""><i class="fa fa-linkedin"></i></a>
        </span>
      </footer>
  </body>
</html>
